<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Map[
    <!ENTITY % entities SYSTEM "inc/entities.xml.inc">
    %entities;
]>
<Map srs="&srs900913;">
&fontset-settings;
&layer-shapefiles;
&layer-landcover;
&layer-water;
&layer-buildings;
&layer-ways;
&layer-admin;
&layer-placenames;
</Map>

