/*
	OpenStreetBugs layer is free software: you can redistribute it
	and/or modify it under the terms of the GNU Affero General Public License
	as published by the Free Software Foundation, either version 3 of the
	License, or (at your option) any later version.

	This file is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
	License <http://www.gnu.org/licenses/> for more details.

	Copyright © 2009–2010 Candid Dauth
*/

.olPopupFramedCloudOpenStreetBugs dl { margin:0; padding:0; }
.olPopupFramedCloudOpenStreetBugs dt { margin:0; padding:0; font-weight:bold; float:left; clear:left; }
.olPopupFramedCloudOpenStreetBugs dt:after { content:": "; }
* html .olPopupFramedCloudOpenStreetBugs dt { margin-right:1ex; }
.olPopupFramedCloudOpenStreetBugs dd { margin:0; padding:0; }
.olPopupFramedCloudOpenStreetBugs ul.buttons { list-style-type:none; padding:0; margin:0 }
.olPopupFramedCloudOpenStreetBugs ul.buttons li { display:inline; margin:0; padding:0; }
.olPopupFramedCloudOpenStreetBugs h3 { font-size:1.2em; margin:.2em 0 .7em 0; }
